@use "../base/" as *;

.country {
  background-color: $very-light-gray__light-mode;

  &__info {
    @include universal-flex-display(center, flex-start);
    flex-direction: column;
    padding: 2em 0;
    gap: 10em;

    &-container {
      display: flex;
      width: 100%;
      gap: 3em;
    }

    &-flag {
      flex: 1;
      object-fit: contain;

      & > img {
        width: 100%;
      }
    }

    &-text {
      flex: 2;
      @include universal-flex-display(center, center);
      flex-direction: column;
      gap: 2em;
    }
  }

  &-text {
    @include universal-flex-display(center, flex-start);
    flex-direction: column;
    width: 100%;
    padding: 0 1em;

    .name {
      margin-bottom: 1em;
    }

    .info {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;

      span + span {
        margin-right: 0.5em;
      }
    }
  }

  &-borders {
    width: 100%;
    @include universal-flex-display(flex-start, center);
    gap: 1em;

    .border-buttons__container {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      @include universal-flex-display(center, center);
      gap: 1em;
    }
  }
}

button {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.3);
  padding: 1em 3em;
  cursor: pointer;
  background-color: $very-light-gray__light-mode;
  transition: all 0.5s ease;
  font-size: $fs--placeholder;

  &:hover {
    background-color: $white;
  }
  &:active {
    transform: scale(0.9);
  }
}

.border-button {
  padding: 1em 2em;
}

@include media-1024 {
  .country {
    height: fit-content;

    &__info {
      gap: 2em;
      &-container {
        flex-direction: column;
      }
    }
    .country-borders {
      flex-direction: column;
    }
  }
}
