@use "../base/" as *;

.card {
  max-width: 350px;
  flex-direction: column;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 3em;
  justify-self: center;
  cursor: pointer;

  img {
    object-fit: contain;
  }

  .country-info {
    width: 100%;
    padding: 1em;
    padding-bottom: 2em;
    @include universal-flex-display(center, flex-start);
    flex-direction: column;
  }
}
