@use "../base/" as *;

.country {
  background-color: $very-light-gray__light-mode;
  width: 100vw;
  height: 90vh;

  &-container {
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 2rem;

    .country-info {
      height: 100%;
      @include universal-flex-display(center, center);

      &__flag {
        width: 100%;
        height: 100%;
        @include universal-flex-display(center, flex-start);
        flex-direction: column;

        .button-container {
          margin-bottom: 7rem;
          width: 100%;

          a .back-button {
            padding: 1rem 3rem;
            border: none;
            border-radius: 5px;
            background-color: $very-light-gray__light-mode;
            box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.3);
            cursor: pointer;
          }
        }
        img {
          width: clamp(300px, 90%, 700px);
        }
      }

      &__text {
        width: 100%;
        height: 100%;
        @include universal-flex-display(center, center);

        &-container {
          width: 100%;
          height: fit-content;
          @include universal-flex-display(center, center);
          flex-direction: column;
          min-height: 70%;

          .country-text {
            width: 100%;
            flex: 1;
            @include universal-flex-display(center, flex-start);
            flex-direction: column;

            .name {
              margin-bottom: 1rem;
            }

            .info {
              width: 100%;
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 1rem;
            }
          }

          .country-borders {
            width: 100%;
            margin-top: 4rem;
            @include universal-flex-display(flex-start, center);

            .border-buttons {
              width: 100%;
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
              gap: 1rem;

              a button {
                width: 100%;
                padding: 0.5rem 0;
                border: none;
                border-radius: 5px;
                background-color: $very-light-gray__light-mode;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

@include media-1024 {
  .country {
    height: fit-content;
  }
  .country-container .country-info {
    flex-direction: column;

    &__flag {
      margin-bottom: 3rem;
      img {
        align-self: center;
      }
    }
    &__text {
      &-container {
        .country-text {
          padding: 1rem;

          .info {
            grid-template-columns: 1fr;
          }
        }

        .country-borders {
          flex-direction: column;

          .border-buttons {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
