@use "../base/" as *;

.country-list {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;

  a {
    @include universal-flex-display(center, flex-start);
    color: $very-dark-blue__lignt-mode;
    cursor: pointer;
  }
}
