@use "../base/" as *;

.header {
  padding: 0.5em 0;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);

  &__container {
    @include universal-flex-display(space-between, center);
  }

  &__mode-colors {
    @include universal-flex-display(center, center);
    cursor: pointer;
    gap: 0.5em;
  }
}
