@use "../base/" as *;

.header {
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.7);
  padding: 0.5em 0;

  &__container {
    @include universal-flex-display(space-between, center);
  }

  &__mode-colors {
    @include universal-flex-display(center, center);
    cursor: pointer;
    gap: 0.5em;
  }
}
