@use "../base/" as *;

.search-filter {
  width: 100%;
  height: 20vh;
  padding: 2rem 0;

  &-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    @include universal-flex-display(space-between, center);

    #input {
      width: clamp(250px, 60%, 500px);
      border: none;
      outline: none;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      padding: 1rem 2rem;
      border-radius: 5px;
      font-size: clamp(0.9rem, 2.5vw, 1.1rem);
    }

    select {
      appearance: none;
      border: none;
      outline: none;
      padding: 1rem 2rem;
    }
  }
}

@include media-512 {
  .search-filter {
    height: 25vh;

    &-container {
      @include universal-flex-display(space-between, flex-start);
      flex-direction: column;
    }
  }
}
