@use "../base/" as *;

.search-filter {
  padding: 4em 0;

  &__container {
    @include universal-flex-display(space-between, center);
    gap: 2em;
  }

  &__select {
    appearance: none;
    border: none;
    outline: none;
    padding: 1.5em 3em;
    border-radius: 5px;
    cursor: pointer;
    background-color: $white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-size: $fs--placeholder;
  }
}

.search__input {
  width: clamp(250px, 60vw, 500px);
  border: none;
  outline: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 1.5em 2em;
  border-radius: 5px;
  font-size: $fs--placeholder;
}

@include media-600 {
  .search-filter {
    &__container {
      flex-direction: column;
    }
  }
}
