@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $ff-body;
  background-color: $very-light-gray__light-mode;
  color: $very-dark-blue__lignt-mode;
}
h1 {
  font-size: $fs--h1;
  margin: 1.2rem 0;
  line-height: 1.3;
}

h2 {
  font-size: $fs--h2;
  margin: 1rem 0;
  line-height: 1.3;
}
h3 {
  font-size: $fs--h3;
  margin: 0.8rem 0;
  line-height: 1.3;
}
p {
  font-size: $fs--p;
  margin: 0.25rem 0;
}
a {
  font-size: $fs--a;
  text-decoration: none;
}
li {
  list-style: none;
  font-size: $fs--li;
}

svg {
  font-size: $fs--svg;
}

img {
  max-width: 100%;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

.light-mode {
  .main-background {
    background-color: $very-light-gray__light-mode;
  }
  .secondary-background {
    background-color: $white;
  }

  .text {
    color: $very-dark-blue__lignt-mode;
  }

  .text::placeholder {
    color: $light-gray__light-mode;
  }
}
.dark-mode {
  color: $very-light-gray__light-mode;

  .main-background {
    background-color: $very-dark-blue__dark-mode;
  }
  .secondary-background {
    background-color: $dark-blue__dark-mode;
  }

  .text,
  .text::placeholder {
    color: $white;
  }
}
