@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

$dark-blue__dark-mode: hsl(209, 23%, 22%);
$very-dark-blue__dark-mode: hsl(207, 26%, 17%);
$very-dark-blue__lignt-mode: hsl(200, 15%, 8%);
$light-gray__light-mode: hsl(0, 0%, 52%);
$very-light-gray__light-mode: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$ff-body: "Nunito Sans", sans-serif;
$fs--homepage: 14px;
$fs--detail: 16px;

$fs--svg: clamp(1rem, calc(2.5vw + 0.5rem), 1.5rem);
$fs--placeholder: clamp(0.8rem, calc(2vw + 0.4rem), 1rem);
$fs--h1: clamp(2rem, calc(5.5vw + 1rem), 3rem);
$fs--h2: clamp(1.6rem, calc(5.5vw + 1rem), 2.6rem);
$fs--h3: clamp(1.3rem, calc(3.5vw + 1rem), 2rem);
$fs--p: clamp(0.9rem, calc(2.5vw + 0.5rem), 1.5rem);
$fs--a: clamp(0.8rem, calc(2.5vw + 0.5rem), 1.1rem);
$fs--li: clamp(0.9rem, calc(2.5vw + 0.5rem), 1.1rem);
