@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(200deg, 15%, 8%);
}

h1 {
  font-size: clamp(1.4rem, 5.5vw, 2.7rem);
  margin: 1.2rem 0;
  line-height: 1.3;
}

h2 {
  font-size: clamp(1.2rem, 5.5vw, 2.1rem);
  margin: 1rem 0;
  line-height: 1.3;
}

h3 {
  font-size: clamp(1.1rem, 3.5vw, 1.4rem);
  margin: 0.8rem 0;
  line-height: 1.3;
}

p {
  font-size: clamp(0.8rem, 2.5vw, 1.1rem);
  margin: 0.25rem 0;
}

a {
  font-size: clamp(0.8rem, 2.5vw, 1.1rem);
  text-decoration: none;
}

li {
  list-style: none;
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
}

.header {
  width: 100vw;
  -webkit-box-shadow: 10px 0 10px rgba(0, 0, 0, 0.7);
          box-shadow: 10px 0 10px rgba(0, 0, 0, 0.7);
  padding: 0.5rem 1.5rem;
}
.header-container {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container .mode-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header-container .mode-colors svg {
  margin-right: 0.5rem;
}

.country-list {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
}
.country-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: hsl(200deg, 15%, 8%);
  cursor: pointer;
}

.search-filter {
  width: 100%;
  height: 20vh;
  padding: 2rem 0;
}
.search-filter-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-filter-container #input {
  width: clamp(250px, 60%, 500px);
  border: none;
  outline: none;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
}
.search-filter-container select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 512px) {
  .search-filter {
    height: 25vh;
  }
  .search-filter-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.country {
  background-color: hsl(0deg, 0%, 98%);
  width: 100vw;
  height: 90vh;
}
.country-container {
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
}
.country-container .country-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.country-container .country-info__flag {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.country-container .country-info__flag .button-container {
  margin-bottom: 7rem;
  width: 100%;
}
.country-container .country-info__flag .button-container a .back-button {
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  background-color: hsl(0deg, 0%, 98%);
  -webkit-box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 1px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.country-container .country-info__flag img {
  width: clamp(300px, 90%, 700px);
}
.country-container .country-info__text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.country-container .country-info__text-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 70%;
}
.country-container .country-info__text-container .country-text {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.country-container .country-info__text-container .country-text .name {
  margin-bottom: 1rem;
}
.country-container .country-info__text-container .country-text .info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.country-container .country-info__text-container .country-borders {
  width: 100%;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.country-container .country-info__text-container .country-borders .border-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem;
}
.country-container .country-info__text-container .country-borders .border-buttons a button {
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-radius: 5px;
  background-color: hsl(0deg, 0%, 98%);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .country {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .country-container .country-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .country-container .country-info__flag {
    margin-bottom: 3rem;
  }
  .country-container .country-info__flag img {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .country-container .country-info__text-container .country-text {
    padding: 1rem;
  }
  .country-container .country-info__text-container .country-text .info {
    grid-template-columns: 1fr;
  }
  .country-container .country-info__text-container .country-borders {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .country-container .country-info__text-container .country-borders .border-buttons {
    margin-top: 1rem;
  }
}
.card {
  max-width: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 3rem;
  justify-self: center;
  cursor: pointer;
}
.card img {
  width: 100%;
}
.card .country-info {
  width: 100%;
  padding: 1rem;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}